<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<!-- 사용하려는 DB 타입 (MariaDB 또는 MSSQL) -->
		<add key="DatabaseType" value="MariaDB" />

		<!-- 각 DB의 연결 문자열 -->
		<add key="MariaDB_ConnectionString" value="Server=localhost;Database=mailsenderh_test;User Id=root;Password=__SET_DB_PASSWORD__;SslMode=None;" />
		<add key="MSSQL_ConnectionString" value="Server=mssql_server;Database=mydb;User Id=sa;Password=__SET_DB_PASSWORD__;" />

		<!-- DB Provider 설정 -->
		<add key="MariaDB_Provider" value="MySql.Data.MySqlClient" />
		<add key="MSSQL_Provider" value="System.Data.SqlClient" />
		<add key="LogBasePath" value="C:\MailSenderH\logs" />
	</appSettings>
	<!--DbProviderFactories를 system.data 내부에 위치해야 함 -->
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".NET Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.33.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>